body{
	text-align: center;
	background-image: linear-gradient(black,white);
}
#img1,#img2,#img3,#img4,#img5{
	height: 300px;
	width: 300px;
}
#myCarousel img{
	width: 50px;
	margin-top: 35px;
}
.carousel-inner{
	margin-bottom: 15px;
	margin-top: 15px;
	color: white;
}
html{
	scroll-behavior: smooth;
}